
body {
    background-color: #F3F3F4;
}

#mainPostContainer {
    background-color: #F8F8F8;
}

.card {
    margin: 20px;
    width: 600px;
}

#profilePicture {
    width: 50px;
    display: inline;
    border-radius: 100%;
}

#mainPicture {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


.mycustom {
    border: solid 1px green;
    position: relative;
}
.mycustom input[type=text] {
    border: none;
    width: 100%;
    padding-right: 123px;
}
.mycustom .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
}

md-card {
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}


